/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: icons */
.i-carbon-logo-github,
[i-carbon-logo-github=""]{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M16 2a14 14 0 0 0-4.43 27.28c.7.13 1-.3 1-.67v-2.38c-3.89.84-4.71-1.88-4.71-1.88a3.71 3.71 0 0 0-1.62-2.05c-1.27-.86.1-.85.1-.85a2.94 2.94 0 0 1 2.14 1.45a3 3 0 0 0 4.08 1.16a2.93 2.93 0 0 1 .88-1.87c-3.1-.36-6.37-1.56-6.37-6.92a5.4 5.4 0 0 1 1.44-3.76a5 5 0 0 1 .14-3.7s1.17-.38 3.85 1.43a13.3 13.3 0 0 1 7 0c2.67-1.81 3.84-1.43 3.84-1.43a5 5 0 0 1 .14 3.7a5.4 5.4 0 0 1 1.44 3.76c0 5.38-3.27 6.56-6.39 6.91a3.33 3.33 0 0 1 .95 2.59v3.84c0 .46.25.81 1 .67A14 14 0 0 0 16 2'/%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:1.2em;height:1.2em;}
/* layer: shortcuts */
.container,
[container=""]{width:100%;}
@media (min-width: 0){
.container,
[container=""]{max-width:0;}
}
@media (min-width: 576px){
.container,
[container=""]{max-width:576px;}
}
@media (min-width: 768px){
.container,
[container=""]{max-width:768px;}
}
@media (min-width: 992px){
.container,
[container=""]{max-width:992px;}
}
@media (min-width: 1200px){
.container,
[container=""]{max-width:1200px;}
}
@media (min-width: 1400px){
.container,
[container=""]{max-width:1400px;}
}
/* layer: default */
.visible,
[visible=""]{visibility:visible;}
.invisible{visibility:hidden;}
.absolute,
[absolute=""]{position:absolute;}
.fixed,
[fixed=""]{position:fixed;}
.relative,
[relative=""]{position:relative;}
.static,
[static=""]{position:static;}
.bottom-5,
[bottom-5=""]{bottom:1.25rem;}
.left-0,
[left-0=""]{left:0;}
.right-0,
[right-0=""]{right:0;}
.grid{display:grid;}
.m-1,
[m1=""]{margin:0.25rem;}
.m2,
[m2=""]{margin:0.5rem;}
[m~="\$date\)\,"]{margin:var(--date\));}
[m0=""]{margin:0;}
[ma=""]{margin:auto;}
.m-y,
.my{margin-top:1rem;margin-bottom:1rem;}
[mt-50=""]{margin-top:12.5rem;}
.inline,
[inline=""]{display:inline;}
.block,
[block=""]{display:block;}
.contents{display:contents;}
.hidden,
[hidden=""]{display:none;}
.h-full,
[h-full=""]{height:100%;}
.h1{height:0.25rem;}
.h2{height:0.5rem;}
.h3{height:0.75rem;}
.h4{height:1rem;}
.h5{height:1.25rem;}
.h6{height:1.5rem;}
.flex,
[flex=""]{display:flex;}
.shrink{flex-shrink:1;}
.grow{flex-grow:1;}
.flex-col,
[flex-col=""]{flex-direction:column;}
.table,
[table=""]{display:table;}
.table-row{display:table-row;}
.border-collapse{border-collapse:collapse;}
.transform{transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
@keyframes bounce-alt{from,20%,53%,80%,to{animation-timing-function:cubic-bezier(0.215,0.61,0.355,1);transform:translate3d(0,0,0)}40%,43%{animation-timing-function:cubic-bezier(0.755,0.05,0.855,0.06);transform:translate3d(0,-30px,0)}70%{animation-timing-function:cubic-bezier(0.755,0.05,0.855,0.06);transform:translate3d(0,-15px,0)}90%{transform:translate3d(0,-4px,0)}}
.animate-bounce-alt,
[animate-bounce-alt=""]{animation:bounce-alt 1s linear infinite;transform-origin:center bottom;}
[animate-duration-1s=""]{animation-duration:1s;}
.animate-count-infinite,
[animate-count-infinite=""]{animation-iteration-count:infinite;}
.select-none,
[select-none=""]{-webkit-user-select:none;user-select:none;}
.resize,
[resize=""]{resize:both;}
.justify-center,
[justify-center=""]{justify-content:center;}
.truncate,
[truncate=""]{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.b,
.border,
[b=""],
[border=""],
[border~="\31 "]{border-width:1px;}
[border~="\30 "]{border-width:0px;}
.rd,
.rounded,
[rounded=""]{border-radius:0.25rem;}
.p75{padding:18.75rem;}
.p81{padding:20.25rem;}
.pxs{padding:0.75rem;}
[p-1=""]{padding:0.25rem;}
[p0=""]{padding:0;}
.px,
[px=""]{padding-left:1rem;padding-right:1rem;}
.pt{padding-top:1rem;}
.pie{padding-inline-end:1rem;}
.text-center,
[text-center=""]{text-align:center;}
.indent,
[indent=""]{text-indent:1.5rem;}
.text-2xl,
[text-2xl=""]{font-size:1.5rem;line-height:2rem;}
.text-5xl,
[text-5xl=""]{font-size:3rem;line-height:1;}
.text-lg,
[text-lg=""]{font-size:1.125rem;line-height:1.75rem;}
[color-amber=""]{--un-text-opacity:1;color:rgb(251 191 36 / var(--un-text-opacity));}
.text-inherit,
[text-inherit=""]{color:inherit;}
.fw100,
[fw100=""]{font-weight:100;}
.fw300,
[fw300=""]{font-weight:300;}
.uppercase,
[uppercase=""]{text-transform:uppercase;}
.lowercase,
[lowercase=""]{text-transform:lowercase;}
.italic,
[italic=""]{font-style:italic;}
.ordinal{--un-ordinal:ordinal;font-variant-numeric:var(--un-ordinal) var(--un-slashed-zero) var(--un-numeric-figure) var(--un-numeric-spacing) var(--un-numeric-fraction);}
.line-through{text-decoration-line:line-through;}
.underline,
[underline=""]{text-decoration-line:underline;}
.tab,
[tab=""]{-moz-tab-size:4;-o-tab-size:4;tab-size:4;}
.op\[\'value\'\]{opacity:'value';}
.op30,
[op30=""]{opacity:0.3;}
.op80{opacity:0.8;}
[hover~="op80"]:hover{opacity:0.8;}
.shadow,
[shadow=""]{--un-shadow:var(--un-shadow-inset) 0 1px 3px 0 var(--un-shadow-color, rgb(0 0 0 / 0.1)),var(--un-shadow-inset) 0 1px 2px -1px var(--un-shadow-color, rgb(0 0 0 / 0.1));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.outline,
[outline=""]{outline-style:solid;}
.blur{--un-blur:blur(8px);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.filter,
[filter=""]{filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.all\:transition-400 *,
[all\:transition-400=""] *{transition-property:color,background-color,border-color,outline-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:400ms;}
.transition,
[transition=""]{transition-property:color,background-color,border-color,outline-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.ease{transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}